

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

    

.intro {
height: 100%;
width: 100%;
margin: auto;
background: url(https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat 50% 50%;
display: table;
background-size:cover ;
}
