
<!DOCTYPE html>
<html>
<head>
<title>Big Catch</title>
</head>
<link rel="stylesheet" type="text/css" href="main.css">

<body>
<section class="showcase">
			<div class="video-container">
				<video src="https://player.vimeo.com/external/392328703.sd.mp4?s=98d5a5b0556eb22e7ea4d7d0d03482954bcf9fee&profile_id=139&oauth2_token_id=57447761" autoplay muted loop></video>
			</div>
			<div class="content">
				<h1> Welcome to Big Catch App</h1>
      <a class="login" href="/login">Login</a>
      <a class="signup" href="/signup">Sign Up</a>
   
			</div>
		</section>





</body>

</html>