
<!DOCTYPE html>
<html>
<head>
<title>Big Catch</title>
</head>
<link rel="stylesheet" type="text/css" href="main.css">

<body>

<section class="intro">
  <div class="inner">
    <div class="content">
      <h1 class="text-1"> Welcome to Big Catch App</h1>
      <a class="login" href="/login">Login</a>
      <a class="signup" href="/signup">Sign Up</a>
   </div>
  </div>
</section>
</body>

</html>